:root {
    --color-h: #000000;
    --gap-padrão: 3px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-h);
    overflow-x: hidden;
}

#nav-fixed {
    background-color: white;
    position: fixed;
    right: 0px;
    left: 0px;
    width: auto;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-h);
    font-weight: bolder;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.nav-sec-padrao {
    margin: 0 7px;
    height: 100%;
    display: flex;
    align-items: center;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-h)
}

#nav-sec-ul {
    display: flex;
    justify-content: space-around;
    width: 25rem;
} 

li {
    list-style-type: none;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--color-h);
}

nav > section > ul > li a::after {
    content: '';
    position: absolute;
    background-color: #BDE8E4;
    bottom: -0.2rem;
    height: 3px;
    left: 50%;
    width: 0;
    transition: all 300ms ease-in-out;
}

nav > section > ul > li a:hover::after {
    width: 50%;
    left: 25%;
}