:root {
    --color-h: #000000;
    --gap-padrão: 3px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
}

h1 , h2 , h3 {
    text-transform: uppercase;
    color: var(--color-h);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-bg {
    color: var(--color-h);
    background-image: url(../img/subtle-prism.png);
    background-repeat: no-repeat;
}

.content-primary {
    margin: 0 auto;
    max-width: 1000px;
    padding: var(--gap-padrão);
}

.section-full {
    min-height: 100vh;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: white;
}

aside {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #444444;
    height: 35px;
    top: 0;
    padding-left: 5px;
}

aside > nav > ul {
    display: flex;
    justify-content: left;
    margin-right: 5px;
    list-style: none;
}

aside > nav > ul > li {
    margin-right: 20px;
}
