:root {
    --color-h: #000000;
    --color-body: #ffffff;
    --gap-padrão: 3px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-body);
    overflow-x: hidden;
}

#nav-fixed {
    background-color: aqua;
    position: fixed;
    right: 0px;
    left: 0px;
    width: auto;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-h);
    font-weight: bold;
}

.nav-sec-padrao {
    margin: 0 7px;
    height: 100%;
    display: flex;
    align-items: center;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-h)
}

#nav-sec-ul {
    display: flex;
    justify-content: space-around;
    width: 25rem;
    position: relative;
} 

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav > section > ul > li::after {
    content: '';
    position: absolute;
    background-color: blue;
    bottom: -0.2rem;
    height: 2px;
    width: 20%;
    left: 0px;
}


.config-sec-main {
    height: 100vh;
    width: 100vw;
    background-color: red;
}
