/*sections mains*/
.config-sec-main {
    height: 100vh;
    width: 100vw;
    padding-left: 10px;
    background-image: url(../img/subtle-prism.png);
    background-position: center center;
    display: flex;
    justify-content: space-around;
}

#h1-section-primary {
    font-size: 4rem;
    text-transform: uppercase;
    width: 20rem;
    margin-bottom: 2rem;
}

.p-section-primary {
    max-width: 20rem;
}

#div-sec-primary {
    display: flex;
    align-items: center;
}

#config-sec-segundaria {
    flex-direction: column;
}

#h1-section-segundaria {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

#div-section-segundaria {
    display: flex;
    height: 70%;
    flex-direction: column;
    gap: 1rem;
}

.p-div-section-segundaria {
    max-width: 45rem;
    font-size: 1.5rem;
    margin: 0 25%;
}